<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_doping.base}}}">
        <dc:title>{{template.headers.dlp_doping.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_doping.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_doping.datatype_property_doping}}}">
        <dc:title>Doping</dc:title>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_cesty.datatype_property_nazev}}}">
        <dc:title>Český název dopingu</dc:title>
    </owl:DatatypeProperty>




    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_doping.base}}}">
        <rdfs:label>{{template.headers.dlp_doping.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_doping.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.dlp_doping.base}}}{{doping}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.dlp_doping.base}}}"/>
        <rdfs:label>{{{doping}}}</rdfs:label>
    </owl:Class>

    {{/mapper_output}}


</rdf:RDF>






