<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_doping="{{{template.owl_uris.dlp_doping.base}}}">

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_doping.base}}}{{type}}">
        <rdfs:label>{{type}}</rdfs:label>
        <dlp_doping:doping>{{{doping}}}</dlp_doping:doping>
        <dlp_doping:nazev>{{{nazev}}}</dlp_doping:nazev>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_doping.base}}}{{doping}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






