<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_cesty.base}}}">
        <dc:title>{{template.headers.dlp_cesty.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_cesty.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_cesty.datatype_property_cesta}}}">
        <dc:title> CESTA;Zkratka cesty podání</dc:title>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_cesty.datatype_property_nazev}}}">
        <dc:title>Český název cesty</dc:title>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_cesty.datatype_property_nazev_en}}}">
        <dc:title>Anglický název cesty</dc:title>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_cesty.datatype_property_nazev_lat}}}">
        <dc:title>Latinský název cesty</dc:title>
    </owl:DatatypeProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_cesty.base}}}">
        <rdfs:label>{{template.headers.dlp_cesty.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_cesty.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.dlp_cesty.base}}}{{type}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.dlp_cesty.base}}}"/>
        <rdfs:label>{{{name}}} {{type}}</rdfs:label>
    </owl:Class>

    {{/mapper_output}}


</rdf:RDF>






