<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_cesty="{{{template.owl_uris.dlp_cesty.base}}}">

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_cesty.base}}}{{type}}">
        <rdfs:label>{{type}}</rdfs:label>
        <dlp_cesty:cesta>{{{type}}}</dlp_cesty:cesta>
        <dlp_cesty:nazev>{{{name}}}</dlp_cesty:nazev>
        <dlp_cesty:nazev_en>{{{name_en}}}</dlp_cesty:nazev_en>
        <dlp_cesty:nazev_lat>{{{name_lat}}}</dlp_cesty:nazev_lat>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_cesty.base}}}{{type}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






