<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_narvla="{{{template.owl_uris.dlp_narvla.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_narvla.base}}}{{narvla}}">
        <rdfs:label>{{narvla}}</rdfs:label>
        <dlp_narvla:narvla>{{{narvla}}}</dlp_narvla:narvla>
        <dlp_narvla:nazev>{{{nazev}}}</dlp_narvla:nazev>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_narvla.base}}}{{narvla}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






