<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_lecivelatky.base}}}">
        <dc:title>{{template.headers.dlp_lecivelatky.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_lecivelatky.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivelatky.datatype_property_kod_latky}}}">
        <dc:title>KOD_LATKY</dc:title>
        <rdfs:label>KOD_LATKY</rdfs:label>
        <rdfs:comment>Kód látky</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivelatky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_latky.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivelatky.datatype_property_nazev_inn}}}">
        <dc:title>NAZEV_INN</dc:title>
        <rdfs:label>NAZEV_INN</rdfs:label>
        <rdfs:comment>Mezinárodní nechráněný název (přednostní)</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivelatky.datatype_property_nazev_en}}}">
        <dc:title>NAZEV_EN</dc:title>
        <rdfs:label>NAZEV_EN</rdfs:label>
        <rdfs:comment>Anglický název léčivé látky</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivelatky.datatype_property_nazev}}}">
        <dc:title>NAZEV</dc:title>
        <rdfs:label>NAZEV</rdfs:label>
        <rdfs:comment>Český název léčivé látky</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_lecivelatky.base}}}">
        <rdfs:label>{{template.headers.dlp_lecivelatky.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_lecivelatky.base_class_comment}}</rdfs:comment>
    </owl:Class>

</rdf:RDF>






