<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_lecivelatky="{{{template.owl_uris.dlp_lecivelatky.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_lecivelatky.base}}}{{kod_latky}}">
        <rdfs:label>{{kod_latky}}</rdfs:label>
        <dlp_lecivelatky:kod_latky resource="{{{template.rdf_uris.dlp_latky.base}}}{{kod_latky}}"/>
        <dlp_lecivelatky:nazev_inn>{{{nazev_inn}}}</dlp_lecivelatky:nazev_inn>
        <dlp_lecivelatky:nazev_en>{{{nazev_en}}}</dlp_lecivelatky:nazev_en>
        <dlp_lecivelatky:nazev>{{{nazev}}}</dlp_lecivelatky:nazev>

        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_lecivelatky.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






