<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_zdroje="{{{template.owl_uris.dlp_zdroje.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_zdroje.base}}}{{zdroj}}">
        <rdfs:label>{{zdroj}}</rdfs:label>
        <dlp_zdroje:zdroj>{{{zdroj}}}</dlp_zdroje:zdroj>
        <dlp_zdroje:nazev>{{{nazev}}}</dlp_zdroje:nazev>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_zdroje.base}}}{{zdroj}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






