<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>

    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_soli.base}}}">
        <dc:title>{{template.headers.dlp_soli.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_soli.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_kod_latky}}}">
        <dc:title>KOD_LATKY</dc:title>
        <rdfs:label>KOD_LATKY</rdfs:label>
        <rdfs:comment>Kód základní látky</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_soli.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_solilist.base}}}" />

    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_soli.datatype_property_kod_soli}}}">
        <dc:title>KOD_SOLI</dc:title>
        <rdfs:label>KOD_SOLI</rdfs:label>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_soli.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_latky.base}}}" />
    </owl:DatatypeProperty>

    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_soli.base}}}">
        <rdfs:label>{{template.headers.dlp_soli.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_soli.base_class_comment}}</rdfs:comment>
    </owl:Class>

</rdf:RDF>






