<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_soli="{{{template.owl_uris.dlp_soli.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_soli.base}}}{{kod_latky}}_{{kod_soli}}">
        <rdfs:label>{{kod_latky}}_{{kod_soli}}</rdfs:label>
        <dlp_soli:kod_latky resource="{{{template.rdf_uris.dlp_solilist.base}}}{{kod_latky}}" />
        <dlp_soli:kod_soli resource="{{{template.rdf_uris.dlp_latky.base}}}{{kod_soli}}" />

        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_soli.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






