<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_vpois.base}}}">
        <dc:title>{{template.headers.dlp_vpois.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_vpois.ontology_description}}</dc:description>
    </owl:Ontology>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_vpois.datatype_property_kod_sukl}}}">
        <dc:title>KOD_SUKL</dc:title>
        <rdfs:label>KOD_SUKL</rdfs:label>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_vpois.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_vpois.datatype_property_vpois_nazev_spolecnosti}}}">
        <dc:title>VPOIS_NAZEV_SPOLECNOSTI</dc:title>
        <rdfs:label>VPOIS_NAZEV_SPOLECNOSTI</rdfs:label>
        <rdfs:comment>Informační servis držitele - název společnosti</rdfs:comment>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_vpois.datatype_property_vpois_www}}}">
        <dc:title>VPOIS_WWW</dc:title>
        <rdfs:label>VPOIS_WWW</rdfs:label>
        <rdfs:comment>Informační servis držitele - www stránky</rdfs:comment>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_vpois.datatype_property_vpois_email}}}">
        <dc:title>VPOIS_EMAIL</dc:title>
        <rdfs:label>VPOIS_EMAIL</rdfs:label>
        <rdfs:comment>Informační servis držitele - email</rdfs:comment>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_vpois.datatype_property_vpois_tel}}}">
        <dc:title>VPOIS_TEL</dc:title>
        <rdfs:label>VPOIS_TEL</rdfs:label>
        <rdfs:comment>Informační servis držitele - email</rdfs:comment>
    </owl:DatatypeProperty>



    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_vpois.base}}}">
        <rdfs:label>{{template.headers.dlp_vpois.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_vpois.base_class_comment}}</rdfs:comment>
    </owl:Class>



</rdf:RDF>






