<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_vpois="{{{template.owl_uris.dlp_vpois.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_vpois.base}}}{{kod_sukl}}">
        <rdfs:label>{{kod_sukl}}</rdfs:label>
        {{#kod_sukl}}<dlp_vpois:kod_sukl resource="{{{template.rdf_uris.dlp_lecivepripravky.base}}}{{kod_sukl}}"/>{{/kod_sukl}}
        <dlp_vpois:vpois_nazev_spolecnosti>{{{vpois_nazev_spolecnosti}}}</dlp_vpois:vpois_nazev_spolecnosti>
        <dlp_vpois:vpois_www>{{{vpois_www}}}</dlp_vpois:vpois_www>
        <dlp_vpois:vpois_email>{{{vpois_email}}}</dlp_vpois:vpois_email>
        <dlp_vpois:vpois_tel>{{{vpois_tel}}}</dlp_vpois:vpois_tel>




        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_vpois.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






