<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_slozenilist.base}}}">
        <dc:title>{{template.headers.dlp_slozenilist.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_slozenilist.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozenilist.datatype_property_kod_sukl}}}">
        <dc:title>KOD_SUKL</dc:title>
        <rdfs:label>KOD_SUKL</rdfs:label>
        <rdfs:comment>Kód léčivého přípravku</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_slozenilist.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_slozenilist.base}}}">
        <rdfs:label>{{template.headers.dlp_slozenilist.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_slozenilist.base_class_comment}}</rdfs:comment>
    </owl:Class>

</rdf:RDF>






