<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_slozenilist="{{{template.owl_uris.dlp_slozenilist.base}}}"
>

    {{#mapper_output}}{{#kod_sukl}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_slozenilist.base}}}{{kod_sukl}}">
        <rdfs:label>{{kod_sukl}}</rdfs:label>
        <dlp_slozenilist:kod_sukl resource="{{{template.rdf_uris.dlp_lecivepripravky.base}}}{{kod_sukl}}" />

        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_slozenilist.base}}}"/>
        </rdf:type>
    </rdf:Description>{{/kod_sukl}}
    {{/mapper_output}}

</rdf:RDF>






