<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_stavyreg="{{{template.owl_uris.dlp_stavyreg.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_stavyreg.base}}}{{reg}}">
        <rdfs:label>{{reg}}</rdfs:label>
        <dlp_stavyreg:reg>{{{reg}}}</dlp_stavyreg:reg>
        <dlp_stavyreg:nazev>{{{nazev}}}</dlp_stavyreg:nazev>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_stavyreg.base}}}{{reg}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






