<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_jednotky.base}}}">
        <dc:title>{{template.headers.dlp_jednotky.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_jednotky.ontology_description}}</dc:description>
    </owl:Ontology>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_jednotky.datatype_property_un}}}">
        <dc:title>Zkratka jednotky</dc:title>
        <rdfs:label>Zkratka jednotky</rdfs:label>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_jednotky.datatype_property_nazev}}}">
        <dc:title>Český název jednotky</dc:title>
        <rdfs:label>Český název jednotky</rdfs:label>
    </owl:DatatypeProperty>



    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_jednotky.base}}}">
        <rdfs:label>{{template.headers.dlp_jednotky.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_jednotky.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.dlp_jednotky.base}}}{{un}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.dlp_jednotky.base}}}"/>
        <rdfs:label>{{{un}}} {{nazev}}</rdfs:label>
    </owl:Class>

    {{/mapper_output}}


</rdf:RDF>






