<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_jednotky="{{{template.owl_uris.dlp_jednotky.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_jednotky.base}}}{{un}}">
        <rdfs:label>{{un}}</rdfs:label>
        <dlp_jednotky:un>{{{un}}}</dlp_jednotky:un>
        <dlp_jednotky:nazev>{{{nazev}}}</dlp_jednotky:nazev>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_jednotky.base}}}{{un}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






