<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_synonyma.base}}}">
        <dc:title>{{template.headers.dlp_synonyma.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_synonyma.ontology_description}}</dc:description>
    </owl:Ontology>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_synonyma.datatype_property_kod_latky}}}">
        <dc:title>Kod látky</dc:title>
        <rdfs:label>SKod látky</rdfs:label>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_synonyma.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_latky.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_synonyma.datatype_property_sq}}}">
        <dc:title>SQ</dc:title>
        <rdfs:label>SQ</rdfs:label>
        <rdfs:comment>Pořadové číslo synonyma</rdfs:comment>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_synonyma.datatype_property_zdroj}}}">
        <dc:title>ZDROJ</dc:title>
        <rdfs:label>ZDROJ</rdfs:label>
        <rdfs:comment>ZDROJ</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_synonyma.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_zdroje.base}}}" />
    </owl:DatatypeProperty>


    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_synonyma.datatype_property_nazev}}}">
        <dc:title>NAZEV</dc:title>
        <rdfs:label>NAZEV</rdfs:label>
        <rdfs:comment>Název synonyma</rdfs:comment>
    </owl:DatatypeProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_synonyma.base}}}">
        <rdfs:label>{{template.headers.dlp_synonyma.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_synonyma.base_class_comment}}</rdfs:comment>
    </owl:Class>



</rdf:RDF>






