<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_synonyma="{{{template.owl_uris.dlp_synonyma.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_synonyma.base}}}{{kod_latky}}_{{sq}}">
        <rdfs:label>{{nazev}}</rdfs:label>
        <dlp_synonyma:nazev>{{{nazev}}}</dlp_synonyma:nazev>
        <dlp_synonyma:sq>{{{sq}}}</dlp_synonyma:sq>
        {{#kod_latky}}<dlp_synonyma:kod_latky resource="{{{template.rdf_uris.dlp_latky.base}}}{{kod_latky}}"/>{{/kod_latky}}
        {{#zdroj}}<dlp_synonyma:zdroj resource="{{{template.rdf_uris.dlp_zdroje.base}}}{{zdroj}}"/>{{/zdroj}}





        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_synonyma.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






