<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_regproc.base}}}">
        <dc:title>{{template.headers.dlp_regproc.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_regproc.ontology_description}}</dc:description>
    </owl:Ontology>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_regproc.datatype_property_reg_proc}}}">
        <dc:title>reg_proc</dc:title>
        <rdfs:label>Registrační procedura</rdfs:label>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_regproc.datatype_property_nazev}}}">
        <dc:title>Název registrační procedury</dc:title>
        <rdfs:label>Název registrační procedury</rdfs:label>
    </owl:DatatypeProperty>



    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_regproc.base}}}">
        <rdfs:label>{{template.headers.dlp_regproc.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_regproc.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.dlp_regproc.base}}}{{reg_proc}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.dlp_regproc.base}}}"/>
        <rdfs:label>{{{reg_proc}}} {{nazev}}</rdfs:label>
    </owl:Class>

    {{/mapper_output}}


</rdf:RDF>






