<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_regproc="{{{template.owl_uris.dlp_regproc.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_regproc.base}}}{{reg_proc}}">
        <rdfs:label>{{reg_proc}}</rdfs:label>
        <dlp_regproc:regproc>{{{reg_proc}}}</dlp_regproc:regproc>
        <dlp_regproc:nazev>{{{nazev}}}</dlp_regproc:nazev>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_regproc.base}}}{{reg_proc}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






