<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_obaly.base}}}">
        <dc:title>{{template.headers.dlp_obaly.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_obaly.ontology_description}}</dc:description>
    </owl:Ontology>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_obaly.datatype_property_obal}}}">
        <dc:title>Obal</dc:title>
        <rdfs:label>Zkratka obalu</rdfs:label>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_obaly.datatype_property_nazev}}}">
        <dc:title>nazev</dc:title>
        <rdfs:label>Český název obalu</rdfs:label>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_obaly.datatype_property_nazev_en}}}">
        <dc:title>Anglický název obalu</dc:title>
        <rdfs:label>Anglický název obalu</rdfs:label>
    </owl:DatatypeProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_obaly.base}}}">
        <rdfs:label>{{template.headers.dlp_obaly.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_obaly.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.dlp_obaly.base}}}{{obal}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.dlp_obaly.base}}}"/>
        <rdfs:label>{{{obal}}} {{nazev}}</rdfs:label>
    </owl:Class>

    {{/mapper_output}}


</rdf:RDF>






