<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_obaly="{{{template.owl_uris.dlp_obaly.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_obaly.base}}}{{obal}}">
        <rdfs:label>{{obal}}</rdfs:label>
        <dlp_obaly:obal>{{{obal}}}</dlp_obaly:obal>
        <dlp_obaly:nazev>{{{nazev}}}</dlp_obaly:nazev>
        <dlp_obaly:nazev_en>{{{nazev_en}}}</dlp_obaly:nazev_en>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_obaly.base}}}{{obal}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






