<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_lecivepripravky.base}}}">
        <dc:title>{{template.headers.dlp_lecivepripravky.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_lecivepripravky.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_atc_who}}}">
        <dc:title>ATC WHO</dc:title>
        <rdfs:label>Anatomicko-terapeuticko-chemická skupina (WHO Index)</rdfs:label>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.atc.base}}}" />
    </owl:DatatypeProperty>





    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_ll}}}">
        <dc:title>LL</dc:title>
        <rdfs:label>LL</rdfs:label>
        <rdfs:comment>Léčivé látky</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_lecivelatky.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_cena}}}">
        <dc:title>Cena</dc:title>
        <rdfs:label>Cena</rdfs:label>
        <rdfs:comment>Cena</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.cena}}}" />
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_vydej}}}">
        <dc:title>VYDEJ</dc:title>
        <rdfs:label>VYDEJ</rdfs:label>
        <rdfs:comment>Klasifikace typu výdeje léčivého přípravku</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_vydej.base}}}" />
    </owl:ObjectProperty>




    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_zav}}}">
        <dc:title>ZAV</dc:title>
        <rdfs:label>ZAV</rdfs:label>
        <rdfs:comment>Závislost - skupina omamných nebo psychotropních látek (návykové látky)</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_zavislost.base}}}" />
    </owl:ObjectProperty>



    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_doping}}}">
        <dc:title>DOPING</dc:title>
        <rdfs:label>DOPING</rdfs:label>
        <rdfs:comment>Doping</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_doping.base}}}" />
    </owl:ObjectProperty>



    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_narvla}}}">
        <dc:title>NARVLA</dc:title>
        <rdfs:label>NARVLA</rdfs:label>
        <rdfs:comment>Označení látky s anabolickým a jiným hormonálním účinkem podle nařízení vlády 454/2009 Sb.</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_narvla.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_cesta}}}">
        <dc:title>CESTA</dc:title>
        <rdfs:label>CESTA</rdfs:label>
        <rdfs:comment>Cesta podání</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_cesty.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_forma}}}">
        <dc:title>FORMA</dc:title>
        <rdfs:label>FORMA</rdfs:label>
        <rdfs:comment>Léková forma</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_formy.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_kod_sukl}}}">
        <dc:title>KOD_SUKL</dc:title>
        <rdfs:label>KOD_SUKL</rdfs:label>
        <rdfs:comment>Kód léčivého přípravku (dále LP) přidělený SÚKL variantě LP v rámci rozhodnutí o registraci LP, přidělený neregistrovanému LP zařazenému do specifického léčebného programu (dále SLP) nebo přidělený potravině pro zvláštní lékařské účely (dále PZLÚ)</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_h}}}">
        <dc:title>H</dc:title>
        <rdfs:label>H</rdfs:label>
        <rdfs:comment>Označení LP, který podléhá povinnému hlášení (povinnost předkládat Ústavu před propuštěním na trh vzorky každé šarže přípravku k přezkoušení, § 32 odst. 4 písm.a) zákona o léčivech</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_nazev}}}">
        <dc:title>NAZEV</dc:title>
        <rdfs:label>NAZEV</rdfs:label>
        <rdfs:comment>Název LP nebo PZLÚ</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_doplnek}}}">
        <dc:title>DOPLNEK</dc:title>
        <rdfs:label>DOPLNEK</rdfs:label>
        <rdfs:comment>Doplněk názvu LP, který jednoznačně určuje variantu LP, sestávající z integrace cesty podání LP, jeho lékové formy, velikosti balení a síly. Jedná se o starší položku číselníku, dále upřesněnou v položkách CESTA, FORMA, BALENÍ a SÍLA</rdfs:comment>
    </owl:ObjectProperty>



    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_baleni}}}">
        <dc:title>BALENI</dc:title>
        <rdfs:label>BALENI</rdfs:label>
        <rdfs:comment>Velikost balení</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_sila}}}">
        <dc:title>SILA</dc:title>
        <rdfs:label>SILA</rdfs:label>
        <rdfs:comment>Síla LP, kterou se rozumí obsah léčivých látek vyjádřený kvantitativně vzhledem k jednotce dávky, objemu nebo hmotnosti podle lékové formy</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_obal}}}">
        <dc:title>OBAL</dc:title>
        <rdfs:label>OBAL</rdfs:label>
        <rdfs:comment>Vnitřní obal LP, kterým se rozumí taková forma obalu, který je v bezprostředním kontaktu s LP</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_obaly.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_zemdr}}}">
        <dc:title>ZEMDRZ</dc:title>
        <rdfs:label>ZEMDRZ</rdfs:label>
        <rdfs:comment>Země sídla držitele rozhodnutí o registraci></rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_zeme.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_akt_zem}}}">
        <dc:title>AKT_ZEM</dc:title>
        <rdfs:label>AKT_ZEM</rdfs:label>
        <rdfs:comment>Země aktuálního držitele rozhodnutí o reg.</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_zeme.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_reg}}}">
        <dc:title>REG</dc:title>
        <rdfs:label>REG</rdfs:label>
        <rdfs:comment>Stav registrace</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_stavyreg.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_sdov_zem}}}">
        <dc:title>SDOV_ZEM</dc:title>
        <rdfs:label>SDOV_ZEM</rdfs:label>
        <rdfs:comment>Země dovozce u souběžného dovozu</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_zeme.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_reg_proc}}}">
        <dc:title>REG_PROC</dc:title>
        <rdfs:label>REG_PROC</rdfs:label>
        <rdfs:comment>Registrační procedura</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_regproc.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_is_}}}">
        <dc:title>IS_</dc:title>
        <rdfs:label>IS_</rdfs:label>
        <rdfs:comment>Indikační skupina</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_indikacniskupiny.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_akt_drz}}}">
        <dc:title>AKT_DRZ</dc:title>
        <rdfs:label>AKT_DRZ</rdfs:label>
        <rdfs:comment>Aktuální držitel reg.rozhodnutí. Uvádí se jen u registrací B</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_drz}}}">
        <dc:title>DRZ</dc:title>
        <rdfs:label>DRZ</rdfs:label>
        <rdfs:comment>Držitel rozhodnutí o registraci</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_v_platdo}}}">
        <dc:title>V_PLATDO</dc:title>
        <rdfs:label>V_PLATDO</rdfs:label>
        <rdfs:comment>Platnost registrace do, není-li stanovena neomezená platnost podle § 34 zákona o léčivech. Uvádí se jen u registrací B, C, Y, F</rdfs:comment>
    </owl:ObjectProperty>
    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_neomez}}}">
        <dc:title>NEOMEZ</dc:title>
        <rdfs:label>NEOMEZ</rdfs:label>
        <rdfs:comment>V poli vyplněno (X) v případě neomezené  platnosti registrace (podle § 34 zákona o léčivech)</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_uvadenido}}}">
        <dc:title>UVADENIDO</dc:title>
        <rdfs:label>UVADENIDO</rdfs:label>
        <rdfs:comment>Uvádění na trh do, není-li stanovena neomezená platnost podle § 34 zákona o léčivech. Uvádí se jen u registrací B, C, Y</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_rc}}}">
        <dc:title>RC</dc:title>
        <rdfs:label>RC</rdfs:label>
        <rdfs:comment>Registrační číslo</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property x -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_sdov}}}">
        <dc:title>SDOV</dc:title>
        <rdfs:label>SDOV</rdfs:label>
        <rdfs:comment>Identifikační číslo souběžného dovozu, které se váže na odkazovaný referenční přípravek dle registračního čísla; zpravidla ve tvaru PI/xxx/yyyy</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_sdov_dov}}}">
        <dc:title>SDOV_KOD</dc:title>
        <rdfs:label>SDOV_KOD</rdfs:label>
        <rdfs:comment>Zkratka dovozce u souběžného dovozu</rdfs:comment>
    </owl:ObjectProperty>




    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_dddamnt_who}}}">
        <dc:title>DDDAMNT_WHO</dc:title>
        <rdfs:label>DDDAMNT_WHO</rdfs:label>
        <rdfs:comment>množství léčivé látky v definované denní dávce (DDD)</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_dddun_who}}}">
        <dc:title>DDDUN_WHO</dc:title>
        <rdfs:label>DDDUN_WHO</rdfs:label>
        <rdfs:comment>jednotka množství léčivé látky v DDD</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_ddd}}}">
        <dc:title>DDDP_WHO</dc:title>
        <rdfs:label>DDDP_WHO</rdfs:label>
        <rdfs:comment>Počet DDD v balení (na 4 desetinná místa)</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_zdroj_who}}}">
        <dc:title>ZDROJ_WHO</dc:title>
        <rdfs:label>ZDROJ_WHO</rdfs:label>
        <rdfs:comment>WHO index</rdfs:comment>
    </owl:ObjectProperty>




    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_dodavky}}}">
        <dc:title>DODAVKY</dc:title>
        <rdfs:label>DODAVKY</rdfs:label>
        <rdfs:comment>Přípravek byl dodáván do lékáren a zdr. zařízení v posledním 3 měsících</rdfs:comment>
    </owl:ObjectProperty>



    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_ean}}}">
        <dc:title>EAN</dc:title>
        <rdfs:label>EAN</rdfs:label>
        <rdfs:comment>Seznam EAN kódů, oddělený čárkami</rdfs:comment>
    </owl:ObjectProperty>



    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_braillovo_pismo}}}">
        <dc:title>BRAILLOVO_PISMO</dc:title>
        <rdfs:label>BRAILLOVO_PISMO</rdfs:label>
        <rdfs:comment>Braillovo písmo: schváleno (S), výjimka (V), nežádáno (mezera)</rdfs:comment>
    </owl:ObjectProperty>



    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_exp}}}">
        <dc:title>EXP</dc:title>
        <rdfs:label>EXP</rdfs:label>
        <rdfs:comment>Expirace</rdfs:comment>
    </owl:ObjectProperty>



    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_lecivepripravky.datatype_property_exp_t}}}">
        <dc:title>EXP_T</dc:title>
        <rdfs:label>EXP_T</rdfs:label>
        <rdfs:comment>Expirace typ: hodiny H, dny D, týdny W, měsíce M</rdfs:comment>
    </owl:ObjectProperty>




    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_lecivepripravky.base}}}">
        <rdfs:label>{{template.headers.dlp_lecivepripravky.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_lecivepripravky.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_lecivepripravky.cena}}}">
        <rdfs:label>Cena přípravku</rdfs:label>
        <rdfs:comment>Cena přípravku</rdfs:comment>
    </owl:Class>




</rdf:RDF>






