<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_lecivepripravky="{{{template.owl_uris.dlp_lecivepripravky.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_lecivepripravky.base}}}{{kod_sukl}}">
        <rdfs:label>{{kod_sukl}}</rdfs:label>
        <dlp_lecivepripravky:kod_sukl>{{{kod_sukl}}}</dlp_lecivepripravky:kod_sukl>
        <dlp_lecivepripravky:h>{{{h}}}</dlp_lecivepripravky:h>
        <dlp_lecivepripravky:nazev>{{{nazev}}}</dlp_lecivepripravky:nazev>
        <dlp_lecivepripravky:doplnek>{{{doplnek}}}</dlp_lecivepripravky:doplnek>
        <dlp_lecivepripravky:cesta>{{{cesta}}}</dlp_lecivepripravky:cesta>
        <dlp_lecivepripravky:forma>{{{forma}}}</dlp_lecivepripravky:forma>
        <dlp_lecivepripravky:baleni>{{{baleni}}}</dlp_lecivepripravky:baleni>
        <dlp_lecivepripravky:sila>{{{sila}}}</dlp_lecivepripravky:sila>
        <dlp_lecivepripravky:obal>{{{obal}}}</dlp_lecivepripravky:obal>
        <dlp_lecivepripravky:drz>{{{drz}}}</dlp_lecivepripravky:drz>
        <dlp_lecivepripravky:zemdr>{{{zemdr}}}</dlp_lecivepripravky:zemdr>
        <dlp_lecivepripravky:akt_drz>{{{akt_drz}}}</dlp_lecivepripravky:akt_drz>
        <dlp_lecivepripravky:akt_zem>{{{akt_zem}}}</dlp_lecivepripravky:akt_zem>
        <dlp_lecivepripravky:reg>{{{reg}}}</dlp_lecivepripravky:reg>
        <dlp_lecivepripravky:v_platdo>{{{v_platdo}}}</dlp_lecivepripravky:v_platdo>
        <dlp_lecivepripravky:neomez>{{{neomez}}}</dlp_lecivepripravky:neomez>
        <dlp_lecivepripravky:uvadenido>{{{uvadenido}}}</dlp_lecivepripravky:uvadenido>
        <dlp_lecivepripravky:is_>{{{is_}}}</dlp_lecivepripravky:is_>
        <dlp_lecivepripravky:atc_who>{{{atc_who}}}</dlp_lecivepripravky:atc_who>
        <dlp_lecivepripravky:rc>{{{rc}}}</dlp_lecivepripravky:rc>
        <dlp_lecivepripravky:sdov>{{{sdov}}}</dlp_lecivepripravky:sdov>
        <dlp_lecivepripravky:sdov_dov>{{{sdov_dov}}}</dlp_lecivepripravky:sdov_dov>
        <dlp_lecivepripravky:sdov_zem>{{{sdov_zem}}}</dlp_lecivepripravky:sdov_zem>
        <dlp_lecivepripravky:reg_proc>{{{reg_proc}}}</dlp_lecivepripravky:reg_proc>
        <dlp_lecivepripravky:dddamnt_who>{{{dddamnt_who}}}</dlp_lecivepripravky:dddamnt_who>
        <dlp_lecivepripravky:dddun_who>{{{dddun_who}}}</dlp_lecivepripravky:dddun_who>
        <dlp_lecivepripravky:ddd>{{{ddd}}}</dlp_lecivepripravky:ddd>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_lecivepripravky.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






