<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_lecivepripravky="{{{template.owl_uris.dlp_lecivepripravky.base}}}"
>

    {{#mapper_output}}{{#kod_sukl}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_lecivepripravky.base}}}{{kod_sukl}}">
        <rdfs:label>{{kod_sukl}}</rdfs:label>
        <dlp_lecivepripravky:kod_sukl>{{{kod_sukl}}}</dlp_lecivepripravky:kod_sukl>
        {{#atc_who}}<dlp_lecivepripravky:atc resource="{{{template.rdf_uris.atc.base}}}{{atc_who}}"/>{{/atc_who}}
        {{#ll}}<dlp_lecivepripravky:ll>
            <rdf:Bag>
                {{#ll}}
                <rdf:li resource="{{{template.rdf_uris.dlp_lecivelatky.base}}}{{{.}}}"/>
                {{/ll}}
            </rdf:Bag>
        </dlp_lecivepripravky:ll>{{/ll}}
        <dlp_lecivepripravky:vydej resource="{{{template.rdf_uris.dlp_vydej.base}}}{{vydej}}" />
        {{#zav}}<dlp_lecivepripravky:zav resource="{{{template.rdf_uris.dlp_zavislost.base}}}{{zav}}" />{{/zav}}
        {{#doping}}<dlp_lecivepripravky:doping resource="{{{template.rdf_uris.dlp_doping.base}}}{{doping}}" />{{/doping}}
        {{#narvla}}<dlp_lecivepripravky:narvla resource="{{{template.rdf_uris.dlp_narvla.base}}}{{narvla}}" />{{/narvla}}
        {{#cesta}}<dlp_lecivepripravky:cesta resource="{{{template.rdf_uris.dlp_cesty.base}}}{{cesta}}" />{{/cesta}}
        {{#forma}}<dlp_lecivepripravky:forma resource="{{{template.rdf_uris.dlp_formy.base}}}{{forma}}"/>{{/forma}}
        {{#obal}}<dlp_lecivepripravky:obal resource="{{{template.rdf_uris.dlp_obaly.base}}}{{obal}}"/>{{/obal}}
        {{#zemdr}}<dlp_lecivepripravky:zemdrz resource="{{{template.rdf_uris.dlp_zeme.base}}}{{zemdr}}"/>{{/zemdr}}
        {{#akt_zem}}<dlp_lecivepripravky:akt_zem resource="{{{template.rdf_uris.dlp_zeme.base}}}{{akt_zem}}"/>{{/akt_zem}}
        {{#reg}}<dlp_lecivepripravky:reg resource="{{{template.rdf_uris.dlp_stavyreg.base}}}{{reg}}"/>{{/reg}}
        {{#sdov_zem}}<dlp_lecivepripravky:sdov_zem resource="{{{template.rdf_uris.dlp_zeme.base}}}{{sdov_zem}}"/>{{/sdov_zem}}
        {{#reg_proc}}<dlp_lecivepripravky:reg_proc resource="{{{template.rdf_uris.dlp_regproc.base}}}{{reg_proc}}"/>{{/reg_proc}}
        {{#is_}}<dlp_lecivepripravky:is_ resource="{{{template.rdf_uris.dlp_indikacniskupiny.base}}}{{is_}}"/>{{/is_}}
        {{#akt_drz}}<dlp_lecivepripravky:akt_drz resource="{{{template.rdf_uris.dlp_organizace.base}}}{{akt_drz}}"/>{{/akt_drz}}
        <dlp_lecivepripravky:cena resource="{{{template.rdf_uris.dlp_lecivepripravky.cena}}}{{kod_sukl}}"/>
        {{#h}}<dlp_lecivepripravky:h>{{h}}</dlp_lecivepripravky:h>{{/h}}
        {{#nazev}}<dlp_lecivepripravky:nazev>{{nazev}}</dlp_lecivepripravky:nazev>{{/nazev}}
        {{#doplnek}}<dlp_lecivepripravky:doplnek>{{{doplnek}}}</dlp_lecivepripravky:doplnek>{{/doplnek}}
        {{#baleni}}<dlp_lecivepripravky:baleni>{{{baleni}}}</dlp_lecivepripravky:baleni>{{/baleni}}
        {{#sila}}<dlp_lecivepripravky:sila>{{{sila}}}</dlp_lecivepripravky:sila>{{/sila}}
        {{#drz}}<dlp_lecivepripravky:drz>{{{drz}}}</dlp_lecivepripravky:drz>{{/drz}}
        {{#v_platdo}}<dlp_lecivepripravky:v_platdo>{{{v_platdo}}}</dlp_lecivepripravky:v_platdo>{{/v_platdo}}
        {{#neomez}}<dlp_lecivepripravky:neomez>{{{neomez}}}</dlp_lecivepripravky:neomez>{{/neomez}}
        {{#uvadenido}}<dlp_lecivepripravky:uvadenido>{{{uvadenido}}}</dlp_lecivepripravky:uvadenido>{{/uvadenido}}
        {{#atc_who}}<dlp_lecivepripravky:atc_who>{{{atc_who}}}</dlp_lecivepripravky:atc_who>{{/atc_who}}
        {{#rc}}<dlp_lecivepripravky:rc>{{{rc}}}</dlp_lecivepripravky:rc>{{/rc}}
        {{#sdov}}<dlp_lecivepripravky:sdov>{{{sdov}}}</dlp_lecivepripravky:sdov>{{/sdov}}
        {{#sdov_dov}}<dlp_lecivepripravky:sdov_dov>{{{sdov_dov}}}</dlp_lecivepripravky:sdov_dov>{{/sdov_dov}}
        {{#dddamnt_who}}<dlp_lecivepripravky:dddamnt_who>{{{dddamnt_who}}}</dlp_lecivepripravky:dddamnt_who>{{/dddamnt_who}}
        {{#dddun_who}}<dlp_lecivepripravky:dddun_who>{{{dddun_who}}}</dlp_lecivepripravky:dddun_who>{{/dddun_who}}
        {{#ddd}}<dlp_lecivepripravky:ddd>{{{ddd}}}</dlp_lecivepripravky:ddd>{{/ddd}}
        {{#dodavky}}<dlp_lecivepripravky:dodavky>{{{dodavky}}}</dlp_lecivepripravky:dodavky>{{/dodavky}}
        {{#ean}}<dlp_lecivepripravky:ean>{{{ean}}}</dlp_lecivepripravky:ean>{{/ean}}
        {{#braillovo_pismo}}<dlp_lecivepripravky:braillovo_pismo>{{{braillovo_pismo}}}</dlp_lecivepripravky:braillovo_pismo>{{/braillovo_pismo}}
        {{#exp}}<dlp_lecivepripravky:exp>{{{exp}}}</dlp_lecivepripravky:exp>{{/exp}}
        {{#exp_t}}<dlp_lecivepripravky:exp_t>{{{exp_t}}}</dlp_lecivepripravky:exp_t>{{/exp_t}}
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_lecivepripravky.base}}}"/>
        </rdf:type>
    </rdf:Description>{{/kod_sukl}}
    {{/mapper_output}}

</rdf:RDF>






