<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_zeme="{{{template.owl_uris.dlp_zeme.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_zeme.base}}}{{zem}}">
        <rdfs:label>{{zem}}</rdfs:label>
        <dlp_zeme:zem>{{{zem}}}</dlp_zeme:zem>
        <dlp_zeme:nazev>{{{nazev}}}</dlp_zeme:nazev>
        <dlp_zeme:nazev_en>{{{nazev_en}}}</dlp_zeme:nazev_en>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_zeme.base}}}{{zem}}"/>
        </rdf:type>
    </rdf:Description>

    {{/mapper_output}}

</rdf:RDF>






