<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_slozenipriznak.base}}}">
        <dc:title>{{template.headers.dlp_slozenipriznak.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_slozenipriznak.ontology_description}}</dc:description>
    </owl:Ontology>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozenipriznak.datatype_property_s}}}">
        <dc:title>Příznak složení léčivého přípravku (např. léčivá nebo pomocná látka)</dc:title>
        <rdfs:label>Příznak složení léčivého přípravku (např. léčivá nebo pomocná látka)</rdfs:label>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_slozenipriznak.datatype_property_vyznam}}}">
        <dc:title>Upřesňující informace ke složení</dc:title>
        <rdfs:label>Upřesňující informace ke složení</rdfs:label>
    </owl:DatatypeProperty>



    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_slozenipriznak.base}}}">
        <rdfs:label>{{template.headers.dlp_slozenipriznak.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_slozenipriznak.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.dlp_slozenipriznak.base}}}{{s}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.dlp_slozenipriznak.base}}}"/>
        <rdfs:label>{{{s}}} {{vyznam}}</rdfs:label>
    </owl:Class>

    {{/mapper_output}}


</rdf:RDF>






