<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_slozenipriznak="{{{template.owl_uris.dlp_slozenipriznak.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_slozenipriznak.base}}}{{s}}">
        <rdfs:label>{{s}}</rdfs:label>
        <dlp_slozenipriznak:vyznam>{{{vyznam}}}</dlp_slozenipriznak:vyznam>
        <dlp_slozenipriznak:s>{{{s}}}</dlp_slozenipriznak:s>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_slozenipriznak.base}}}{{s}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






