<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_indikacniskupiny="{{{template.owl_uris.dlp_indikacniskupiny.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_indikacniskupiny.base}}}{{indsk}}">
        <rdfs:label>{{forma}}</rdfs:label>
        <dlp_indikacniskupiny:indsk>{{{indsk}}}</dlp_indikacniskupiny:indsk>
        <dlp_indikacniskupiny:nazev>{{{nazev}}}</dlp_indikacniskupiny:nazev>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_indikacniskupiny.base}}}{{indsk}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






