<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.base}}}">
        <dc:title>{{template.headers.dlp_nazvydokumentu.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_nazvydokumentu.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_kod_sukl}}}">
        <dc:title>KOD_SUKL</dc:title>
        <rdfs:label>KOD_SUKL</rdfs:label>
        <rdfs:comment>Kód léčivého přípravku</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_nazvydokumentu.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_pil}}}">
        <dc:title>PIL</dc:title>
        <rdfs:label>PIL</rdfs:label>
        <rdfs:comment>Soubor s textem PIL (příbalový leták - patient information leaflet)</rdfs:comment>
    </owl:ObjectProperty>



    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_dat_roz_pil}}}">
        <dc:title>DAT_ROZ_PIL</dc:title>
        <rdfs:label>DAT_ROZ_PIL</rdfs:label>
        <rdfs:comment>Datum rozhodnutí pro PIL</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_spc}}}">
        <dc:title>SPC</dc:title>
        <rdfs:label>SPC</rdfs:label>
        <rdfs:comment>Soubor s textem SPC (souhrn údajů o léčivém přípravku - summary of product characteristics)</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_dat_roz_spc}}}">
        <dc:title>DAT_ROZ_SPC</dc:title>
        <rdfs:label>DAT_ROZ_SPC</rdfs:label>
        <rdfs:comment>Datum rozhodnutí pro SPC</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_obal_text}}}">
        <dc:title>OBAL_TEXT</dc:title>
        <rdfs:label>OBAL_TEXT</rdfs:label>
        <rdfs:comment>Soubor s textem na obalu</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_dat_roz_obal}}}">
        <dc:title>DAT_ROZ_OBAL</dc:title>
        <rdfs:label>DAT_ROZ_OBAL</rdfs:label>
        <rdfs:comment>Datum rozhodnutí pro OBAL</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_nr}}}">
        <dc:title>NR</dc:title>
        <rdfs:label>NR</rdfs:label>
        <rdfs:comment>Soubor s textem Rozhodnutí o registraci (u nových registrací)</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.datatype_property_dat_npm_nr}}}">
        <dc:title>DAT_NPM_NR</dc:title>
        <rdfs:label>DAT_NPM_NR</rdfs:label>
        <rdfs:comment>Datum nabytí právní moci rozhodnutí pro NR</rdfs:comment>
    </owl:ObjectProperty>






    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.base}}}">
        <rdfs:label>{{template.headers.dlp_nazvydokumentu.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_nazvydokumentu.base_class_comment}}</rdfs:comment>
    </owl:Class>

</rdf:RDF>






