<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_nazvydokumentu="{{{template.owl_uris.dlp_nazvydokumentu.base}}}"
>

    {{#mapper_output}}{{#kod_sukl}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_nazvydokumentu.base}}}{{kod_sukl}}">
        <rdfs:label>{{kod_sukl}}</rdfs:label>
        <dlp_nazvydokumentu:kod_sukl resource="{{{template.rdf_uris.dlp_lecivepripravky.base}}}{{kod_sukl}}"/>
        x {{#pil}}<dlp_nazvydokumentu:pil>{{{pil}}}</dlp_nazvydokumentu:pil>{{/pil}}
        {{#data_roz_pil}}<dlp_nazvydokumentu:data_roz_pil>{{{data_roz_pil}}}</dlp_nazvydokumentu:data_roz_pil>{{/data_roz_pil}}
        x {{#spc}}<dlp_nazvydokumentu:spc>{{{spc}}}</dlp_nazvydokumentu:spc>{{/spc}}
        {{#data_roz_spc}}<dlp_nazvydokumentu:data_roz_spc>{{{data_roz_spc}}}</dlp_nazvydokumentu:data_roz_spc>{{/data_roz_spc}}
        x{{#obal_text}}<dlp_nazvydokumentu:obal_text>{{{obal_text}}}</dlp_nazvydokumentu:obal_text>{{/obal_text}}
        x {{#data_roz_obal}}<dlp_nazvydokumentu:data_roz_obal>{{{data_roz_obal}}}</dlp_nazvydokumentu:data_roz_obal>{{/data_roz_obal}}
        x {{#nr}}<dlp_nazvydokumentu:nr>{{{nr}}}</dlp_nazvydokumentu:nr>{{/nr}}
        x {{#dat_npm_nr}}<dlp_nazvydokumentu:dat_npm_nr>{{{dat_npm_nr}}}</dlp_nazvydokumentu:dat_npm_nr>{{/dat_npm_nr}}

        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_nazvydokumentu.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/kod_sukl}}
    {{/mapper_output}}

</rdf:RDF>






