<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_formy.base}}}">
        <dc:title>{{template.headers.dlp_formy.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_formy.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_formy.datatype_property_cesta}}}">
        <dc:title>Forma je podávána cestou</dc:title>
        <rdfs:label>Cesta</rdfs:label>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_formy.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_cesty.base}}}" />
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_formy.datatype_property_forma}}}">
        <dc:title>forma</dc:title>
        <rdfs:label>forma</rdfs:label>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_formy.datatype_property_nazev}}}">
        <dc:title>česky název cesty</dc:title>
        <rdfs:label>česky název cesty</rdfs:label>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_formy.datatype_property_nazev_en}}}">
        <dc:title>Anglicky název cesty</dc:title>
        <rdfs:label>Anglický název cesty</rdfs:label>
    </owl:DatatypeProperty>

    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_formy.datatype_property_nazev_lat}}}">
        <dc:title>Latinský název cesty</dc:title>
        <rdfs:label>Latinský název cesty</rdfs:label>
    </owl:DatatypeProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_formy.base}}}">
        <rdfs:label>{{template.headers.dlp_formy.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_formy.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.dlp_formy.base}}}{{forma}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.dlp_formy.base}}}"/>
        <rdfs:label>{{{nazev}}}</rdfs:label>
    </owl:Class>

    {{/mapper_output}}


</rdf:RDF>






