<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_cesty="{{{template.rdf_uris.dlp_cesty.base}}}"
        xmlns:dlp_formy="{{{template.owl_uris.dlp_formy.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_formy.base}}}{{forma}}">
        <rdfs:label>{{forma}}</rdfs:label>
        {{#cesta}}<dlp_cesty:cesta resource="{{{template.rdf_uris.dlp_cesty.base}}}{{cesta}}"/>{{/cesta}}
        <dlp_formy:nazev>{{{nazev}}}</dlp_formy:nazev>
        <dlp_formy:forma>{{{forma}}}</dlp_formy:forma>
        <dlp_formy:nazev_en>{{{nazev_en}}}</dlp_formy:nazev_en>
        <dlp_formy:nazev_lat>{{{nazev_lat}}}</dlp_formy:nazev_lat>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_formy.base}}}{{forma}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






