<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_organizace.base}}}">
        <dc:title>{{template.headers.dlp_organizace.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_organizace.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_organizace.datatype_property_zkr_org}}}">
        <dc:title>ZKR_ORG</dc:title>
        <rdfs:label>ZKR_ORG</rdfs:label>
        <rdfs:comment>Zkratka držitele rozhodnutí o registraci nebo výrobce</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_organizace.datatype_property_zem}}}">
        <dc:title>ZEM</dc:title>
        <rdfs:label>ZEM</rdfs:label>
        <rdfs:comment>Země sídla držitele rozhodnutí o registraci nebo výrobce</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_organizace.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_zeme.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_organizace.datatype_property_nazev}}}">
        <dc:title>NAZEV</dc:title>
        <rdfs:label>NAZEV</rdfs:label>
        <rdfs:comment>Název držitele rozhodnutí o registraci nebo výrobce</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_organizace.datatype_property_vyrobce}}}">
        <dc:title>VYROBCE</dc:title>
        <rdfs:label>VYROBCE</rdfs:label>
        <rdfs:comment>V - jedná se o výrobce</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_organizace.datatype_property_drzitel}}}">
        <dc:title></dc:title>
        <rdfs:label>Drzitel</rdfs:label>
        <rdfs:comment>D - jedná se o držitele</rdfs:comment>
    </owl:ObjectProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_organizace.base}}}">
        <rdfs:label>{{template.headers.dlp_organizace.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_organizace.base_class_comment}}</rdfs:comment>
    </owl:Class>

</rdf:RDF>






