<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_organizace="{{{template.owl_uris.dlp_organizace.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_organizace.base}}}{{zkr_org}}">
        <rdfs:label>{{zkr_org}}</rdfs:label>
        <dlp_organizace:zkr_org>{{zkr_org}}</dlp_organizace:zkr_org>
        <dlp_organizace:zem resource="{{{template.rdf_uris.dlp_zeme.base}}}{{zem}}"/>
        <dlp_organizace:nazev>{{nazev}}</dlp_organizace:nazev>
        {{#vyrobce}}<dlp_organizace:vyrobce resource="{{{template.rdf_uris.dlp_vyrobci.base}}}{{vyrobce}}"/>{{/vyrobce}}
        {{#drzitel}}<dlp_organizace:drzitel>{{drzitel}}</dlp_organizace:drzitel>{{/drzitel}}

        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_organizace.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






