<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_vyrobci.base}}}">
        <dc:title>{{template.headers.dlp_vyrobci.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_vyrobci.ontology_description}}</dc:description>
    </owl:Ontology>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_vyrobci.datatype_property_kod_sukl}}}">
        <dc:title>KOD_SUKL</dc:title>
        <rdfs:label>KOD_SUKL</rdfs:label>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_vyrobci.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_lecivepripravky.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_vyrobci.datatype_property_vyr}}}">
        <dc:title>VYR</dc:title>
        <rdfs:label>VYR</rdfs:label>
        <rdfs:comment>Zkratka výrobce (ORGANIZACE: ZKR_ORG)</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_vyrobci.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_organizace.base}}}" />
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_vyrobci.datatype_property_zem}}}">
        <dc:title>ZEM</dc:title>
        <rdfs:label>ZEM</rdfs:label>
        <rdfs:comment>Země sídla výrobce</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_vyrobci.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_zeme.base}}}" />
    </owl:DatatypeProperty>





    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_vyrobci.base}}}">
        <rdfs:label>{{template.headers.dlp_vyrobci.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_vyrobci.base_class_comment}}</rdfs:comment>
    </owl:Class>



</rdf:RDF>






