<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_vyrobci="{{{template.owl_uris.dlp_vyrobci.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_vyrobci.base}}}{{kod_sukl}}">
        <rdfs:label>{{kod_sukl}}</rdfs:label>
        {{#kod_sukl}}<dlp_vyrobci:kod_sukl resource="{{{template.rdf_uris.dlp_lecivepripravky.base}}}{{kod_sukl}}"/>{{/kod_sukl}}
        {{#vyr}}<dlp_vyrobci:vyr resource="{{{template.rdf_uris.dlp_organizace.base}}}{{vyr}}"/>{{/vyr}}
        {{#zem}}<dlp_vyrobci:zem resource="{{{template.rdf_uris.dlp_zeme.base}}}{{zem}}"/>{{/zem}}

        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_vyrobci.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






