<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_zavislost.base}}}">
        <dc:title>{{template.headers.dlp_zavislost.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_zavislost.ontology_description}}</dc:description>
    </owl:Ontology>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_zavislost.datatype_property_zav}}}">
        <dc:title>Závislost</dc:title>
        <rdfs:label>Závislost</rdfs:label>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.dlp_zavislost.datatype_property_nazev_cs}}}">
        <dc:title>Český název závislosti</dc:title>
        <rdfs:label>Český název závislosti</rdfs:label>
    </owl:DatatypeProperty>

    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_zavislost.base}}}">
        <rdfs:label>{{template.headers.dlp_zavislost.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_zavislost.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.dlp_zavislost.base}}}{{zav}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.dlp_zavislost.base}}}"/>
        <rdfs:label>{{{zav}}} {{{nazev_cs}}}</rdfs:label>
    </owl:Class>
    {{/mapper_output}}


</rdf:RDF>






