<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_zavislost="{{{template.owl_uris.dlp_zavislost.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_zavislost.base}}}{{zav}}">
        <rdfs:label>{{zav}}</rdfs:label>
        <dlp_zavislost:zav>{{{zav}}}</dlp_zavislost:zav>
        <dlp_zavislost:nazev_cs>{{{nazev_cs}}}</dlp_zavislost:nazev_cs>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_zavislost.base}}}{{zav}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






