<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_slozeni.base}}}">
        <dc:title>{{template.headers.dlp_slozeni.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_slozeni.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozeni.datatype_property_kod_sukl}}}">
        <dc:title>KOD_SUKL</dc:title>
        <rdfs:label>KOD_SUKL</rdfs:label>
        <rdfs:comment>Kód léčivého přípravku</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_slozeni.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_slozenilist.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozeni.datatype_property_kod_latky}}}">
        <dc:title>KOD_LATKY</dc:title>
        <rdfs:label>KOD_LATKY</rdfs:label>
        <rdfs:comment>Kód látky ve složení</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_slozeni.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_latky.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozeni.datatype_property_sq}}}">
        <dc:title>SQ</dc:title>
        <rdfs:label>SQ</rdfs:label>
        <rdfs:comment>Pořadí řádku složení</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozeni.datatype_property_s}}}">
        <dc:title>S</dc:title>
        <rdfs:label>S</rdfs:label>
        <rdfs:comment>Příznak složení léčivého přípravku (např. léčivá nebo pomocná látka)</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozeni.datatype_property_amnt_od}}}">
        <dc:title>AMNT_OD</dc:title>
        <rdfs:label>AMNT_OD</rdfs:label>
        <rdfs:comment>Množství látky od (v případě uváděného roznezí), pro pomocnou látku jen PL</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozeni.datatype_property_amnt}}}">
        <dc:title>AMNT</dc:title>
        <rdfs:label>AMNT</rdfs:label>
        <rdfs:comment>Množství látky (do), pro pomocnou látku jen PL</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_slozeni.datatype_property_un}}}">
        <dc:title>UN</dc:title>
        <rdfs:label>UN</rdfs:label>
        <rdfs:comment>Jednotka množství látky</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_slozeni.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_jednotky.base}}}" />
    </owl:ObjectProperty>



    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_slozeni.base}}}">
        <rdfs:label>{{template.headers.dlp_slozeni.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_slozeni.base_class_comment}}</rdfs:comment>
    </owl:Class>

</rdf:RDF>






