<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_slozeni="{{{template.owl_uris.dlp_slozeni.base}}}"
>

    {{#mapper_output}}
    {{#kod_latky}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_slozeni.base}}}{{kod_sukl}}_{{kod_latky}}">
        <rdfs:label>{{kod_sukl}}_{{kod_latky}}</rdfs:label>

        <dlp_slozeni:kod_sukl resource="{{{template.rdf_uris.dlp_slozenilist.base}}}{{kod_sukl}}"/>
        <dlp_slozeni:kod_latky resource="{{{template.rdf_uris.dlp_latky.base}}}{{kod_latky}}"/>
        <dlp_slozeni:sq>{{{sq}}}</dlp_slozeni:sq>
        <dlp_slozeni:s resource="{{{template.rdf_uris.dlp_slozenipriznak.base}}}{{s}}"/>
        <dlp_slozeni:amnt_od>{{{amnt_od}}}</dlp_slozeni:amnt_od>
        <dlp_slozeni:amnt>{{{amnt}}}</dlp_slozeni:amnt>
        <dlp_slozeni:un resource="{{{template.rdf_uris.dlp_slozenilist.base}}}{{un}}" />
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_slozeni.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/kod_latky}}
    {{/mapper_output}}

</rdf:RDF>






