<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_vydej="{{{template.owl_uris.dlp_vydej.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_vydej.base}}}{{vydej}}">
        <rdfs:label>{{vydej}}</rdfs:label>
        <dlp_vydej:vydej>{{{vydej}}}</dlp_vydej:vydej>
        <dlp_vydej:nazev>{{{nazev}}}</dlp_vydej:nazev>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_vydej.base}}}{{vydej}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






