<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.atc.base}}}">
        <dc:title>{{template.headers.atc.ontology_title}}</dc:title>
        <dc:description>{{template.headers.atc.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.atc.datatype_property_n}}}">
        <dc:title> N-podle ATC indexu,C-stanoveno SÚKLem</dc:title>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.atc.datatype_property_name}}}">
        <dc:title>Český název ATC skupiny</dc:title>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.atc.datatype_property_name_en}}}">
        <dc:title>Anglický název ATC skupiny</dc:title>
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.atc.datatype_property_atc}}}">
        <dc:title> Anatomicko-terapeuticko-chemická (ATC) skupina</dc:title>
    </owl:DatatypeProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.atc.base}}}">
        <rdfs:label>{{template.headers.atc.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.atc.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Subclass Definition  -->
    {{#mapper_output}}
    <owl:Class rdf:about="{{{template.owl_uris.atc.base}}}{{atc}}">
        <rdfs:subClassOf rdf:resource="{{{template.owl_uris.atc.base}}}{{parent}}"/>
        <rdfs:label>{{name}}</rdfs:label>

    </owl:Class>

    {{/mapper_output}}

</rdf:RDF>






