<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:atc="{{{template.owl_uris.atc.base}}}">

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.atc.base}}}{{atc}}">
        <rdfs:label>{{atc}}</rdfs:label>
        <atc:name>{{name}}</atc:name>
        <atc:name_en>{{name_en}}</atc:name_en>
        <atc:n>{{nt}}</atc:n>
        <atc:atc>{{atc}}</atc:atc>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.atc.base}}}{{atc}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






