<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.dlp_latky.base}}}">
        <dc:title>{{template.headers.dlp_latky.ontology_title}}</dc:title>
        <dc:description>{{template.headers.dlp_latky.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_kod_latky}}}">
        <dc:title>KOD_LATKY</dc:title>
        <rdfs:label>KOD_LATKY</rdfs:label>
        <rdfs:comment>Kód látky</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_zdroj}}}">
        <dc:title>ZDROJ</dc:title>
        <rdfs:label>ZDROJ</rdfs:label>
        <rdfs:comment>Zdroj</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_nazev_inn}}}">
        <dc:title>NAZEV_INN</dc:title>
        <rdfs:label>NAZEV_INN</rdfs:label>
        <rdfs:comment>Mezinárodní nechráněný název (přednostní)</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_nazev_en}}}">
        <dc:title>NAZEV_EN</dc:title>
        <rdfs:label>NAZEV_EN</rdfs:label>
        <rdfs:comment>Anglický název léčivé látky</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_nazev}}}">
        <dc:title>NAZEV</dc:title>
        <rdfs:label>NAZEV</rdfs:label>
        <rdfs:comment>Český název léčivé látky</rdfs:comment>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_zav}}}">
        <dc:title>ZAV</dc:title>
        <rdfs:label>ZAV</rdfs:label>
        <rdfs:comment>Závislost</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_latky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_zavislost.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_dop}}}">
        <dc:title>DOP</dc:title>
        <rdfs:label>DOP</rdfs:label>
        <rdfs:comment>Doping</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_latky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_doping.base}}}" />
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_latky.datatype_property_narvla}}}">
        <dc:title>NARVLA</dc:title>
        <rdfs:label>NARVLA</rdfs:label>
        <rdfs:comment>Označení látky podle Nařízení vlády 454/2009 Sb.</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.dlp_latky.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.dlp_narvla.base}}}" />

    </owl:ObjectProperty>


    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.dlp_solilist.datatype_property_kod_latky}}}">
        <dc:title>Seznam solí</dc:title>
        <rdfs:label>Seznam solí</rdfs:label>
        <rdfs:comment>Seznam solí</rdfs:comment>
        <rdfs:domain  rdf:resource="{{{template.owl_uris.dlp_solilist.base}}}" />
        <rdfs:range rdf:resource="{{{template.owl_uris.dlp_latky.base}}}" />
    </owl:ObjectProperty>


    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_latky.base}}}">
        <rdfs:label>{{template.headers.dlp_latky.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_latky.base_class_comment}}</rdfs:comment>
    </owl:Class>

    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.dlp_solilist.base}}}">
        <rdfs:label>{{template.headers.dlp_solilist.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.dlp_solilist.base_class_comment}}</rdfs:comment>
    </owl:Class>



</rdf:RDF>






