<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dlp_latky="{{{template.owl_uris.dlp_latky.base}}}"
        xmlns:dlp_solilist="{{{template.owl_uris.dlp_latky.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_latky.base}}}{{kod_latky}}">
        <rdfs:label>{{kod_latky}}</rdfs:label>
        <dlp_latky:kod_latky>{{{kod_latky}}}</dlp_latky:kod_latky>
        {{#narvla}}<dlp_latky:narvla resource="{{{template.rdf_uris.dlp_narvla.base}}}{{narvla}}"/>{{/narvla}}
        {{#zav}}<dlp_latky:zav resource="{{{template.rdf_uris.dlp_zavislost.base}}}{{zav}}"/>{{/zav}}
        {{#dop}}<dlp_latky:dop resource="{{{template.rdf_uris.dlp_doping.base}}}{{dop}}"/>{{/dop}}



        {{#zdroj}}<dlp_latky:zdroj>{{zdroj}}</dlp_latky:zdroj>{{/zdroj}}
        {{#nazev_inn}}<dlp_latky:nazev_inn>{{nazev_inn}}</dlp_latky:nazev_inn>{{/nazev_inn}}
        {{#nazev_en}}<dlp_latky:nazev_en>{{nazev_en}}</dlp_latky:nazev_en>{{/nazev_en}}
        {{#nazev}}<dlp_latky:nazev>{{nazev}}</dlp_latky:nazev>{{/nazev}}
        {{#nazev}}<dlp_latky:nazev_cz>{{nazev}}</dlp_latky:nazev_cz>{{/nazev}}
        <dlp_latky:version>1.1</dlp_latky:version>


        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_latky.base}}}"/>
        </rdf:type>
    </rdf:Description>

    <rdf:Description rdf:about="{{{template.rdf_uris.dlp_solilist.base}}}{{kod_latky}}">
        <rdfs:label>{{kod_latky}}</rdfs:label>
        <dlp_solilist:kod_latky resource="{{{template.rdf_uris.dlp_latky.base}}}{{kod_latky}}"/>

        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.dlp_solilist.base}}}"/>
        </rdf:type>
    </rdf:Description>
    {{/mapper_output}}

</rdf:RDF>






