<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
>


    <!-- OWL Header -->
    <owl:Ontology rdf:about="{{{template.owl_uris.rxclass.base}}}">
        <dc:title>{{template.headers.rxclass.ontology_title}}</dc:title>
        <dc:description>{{template.headers.rxclass.ontology_description}}</dc:description>
    </owl:Ontology>

    <!-- OWL property  -->
    <owl:DatatypeProperty rdf:about="{{{template.owl_uris.rxclass.datatype_property_sourceId}}}">
        <dc:title>SourceId</dc:title>
        <rdfs:label>SourceId</rdfs:label>
        <rdfs:comment>ATC skupina</rdfs:comment>
        <rdfs:domain rdf:resource="{{{template.owl_uris.rxclass.base}}}" />
        <rdfs:range  rdf:resource="{{{template.owl_uris.atc.base}}}" />
    </owl:DatatypeProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.rxclass.datatype_property_minConceptRxcui}}}">
        <dc:title>minConceptRxcui</dc:title>
        <rdfs:label>minConceptRxcui</rdfs:label>
    </owl:ObjectProperty>

    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.rxclass.datatype_property_minConceptName}}}">
        <dc:title>minConceptName</dc:title>
        <rdfs:label>minConceptName</rdfs:label>
    </owl:ObjectProperty>
    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.rxclass.datatype_property_minConceptTty}}}">
        <dc:title>minConceptTty</dc:title>
        <rdfs:label>minConceptTty</rdfs:label>
    </owl:ObjectProperty>
    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.rxclass.datatype_property_sourceName}}}">
        <dc:title>sourceName</dc:title>
        <rdfs:label>sourceName</rdfs:label>
    </owl:ObjectProperty>
    <!-- OWL property  -->
    <owl:ObjectProperty rdf:about="{{{template.owl_uris.rxclass.datatype_property_relation}}}">
        <dc:title>relation</dc:title>
        <rdfs:label>relation</rdfs:label>
    </owl:ObjectProperty>

    <!-- OWL Class Definition Example -->
    <owl:Class rdf:about="{{{template.owl_uris.rxclass.base}}}">
        <rdfs:label>{{template.headers.rxclass.base_class_label}}</rdfs:label>
        <rdfs:comment>{{template.headers.rxclass.base_class_comment}}</rdfs:comment>
    </owl:Class>





</rdf:RDF>






