<rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
        xmlns:owl="http://www.w3.org/2002/07/owl#"
        xmlns:rxclass="{{{template.owl_uris.rxclass.base}}}"
>

    {{#mapper_output}}
    <rdf:Description rdf:about="{{{template.rdf_uris.rxclass.base}}}{{minConceptRxcui}}">
        <rdfs:label>{{minConceptName}}</rdfs:label>

        <rxclass:sourceId resource="{{{template.rdf_uris.atc.base}}}{{sourceId}}"/>
        <rxclass:minConceptName>{{{minConceptName}}}</rxclass:minConceptName>
        <rxclass:minConceptRxcui>{{{minConceptRxcui}}}</rxclass:minConceptRxcui>
        <rxclass:minConceptTty>{{{minConceptTty}}}</rxclass:minConceptTty>
        <rxclass:sourceName>{{{sourceName}}}</rxclass:sourceName>
        <rxclass:relation>{{{relation}}}</rxclass:relation>
        <rdf:type>
            <owl:Class rdf:about="{{{template.owl_uris.rxclass.base}}}"/>
        </rdf:type>
    </rdf:Description>

    {{/mapper_output}}

</rdf:RDF>






